Archivos_Práctica II/Doc/Mapas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mapa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sitio" maxOccurs="18" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NPCs">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="NPC" maxOccurs="4" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="Tipo" />
                                                    <xs:element type="xs:integer" name="Fuerza" />
                                                    <xs:element type="xs:integer" name="Destreza" />
                                                    <xs:element type="xs:integer" name="Constitucion" />
                                                    <xs:element type="xs:integer" name="Inteligencia" />
                                                    <xs:element type="xs:integer" name="Sabiduria" />
                                                    <xs:element type="xs:integer" name="Carisma" />
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="id" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="enemigos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="enemigo" maxOccurs="10" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="Nombre">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:maxLength value="20" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:string" name="Tipo" />
                                                    <xs:element name="Fuerza">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:maxInclusive value="30" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Destreza">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:maxInclusive value="30" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Constitucion">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:maxInclusive value="30" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Inteligencia">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:maxInclusive value="30" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Sabiduria">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:maxInclusive value="30" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="Carisma">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:integer">
                                                                <xs:maxInclusive value="30" />
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element name="elementosboss" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="NFases" >
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:integer">
                                                                            <xs:maxInclusive value="3" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element name="Acto" >
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:integer">
                                                                            <xs:maxInclusive value="3" />
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element type="xs:string" name="Habilidades" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="id" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="sitio" use="required" />
                        <xs:attribute type="xs:string" name="subterraneo" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>